.demo-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  margin: 50px auto;
  padding: 0 15px;
}

.column-1,
.column-2 {
  box-sizing: border-box;
  width: 100%;
}

@media (max-width: 575px) {
  .demo-container {
    min-width: 320px;
  }
}

@media (min-width: 576px) {
  .demo-container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .demo-container {
    max-width: 720px;
    flex-wrap: nowrap;
  }
  .column-1 {
    width: 66.66666667%;
    padding-right: 30px;
  }
  .column-2 {
    width: 33.33333333%;
  }
}

@media (min-width: 992px) {
  .demo-container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .demo-container {
    max-width: 1140px;
  }
}

.playback-options {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.option-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.option-group label {
  display: inline-block;
  margin-bottom: 0.5em;
}

.option-group .item {
  display: block;
  width: 100%;
  height: calc(2.25em + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1em;
  line-height: 1.5em;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25em;
  box-sizing: border-box;
}

.button-group {
  display: flex;
}

.playback-options button {
  margin-right: 5px;
  text-align: center;
  white-space: nowrap;
  border: 1px solid transparent;
  padding: 0.375em 0.75em;
  font-size: 1em;
  line-height: 1.5em;
  border-radius: 0.25em;
  color: #fff;
  background-color: #972e2d;
  border-color: #972e2d;
  margin-bottom: 5px;
}

.playback-options button:hover {
  background-color: #7a1f1e;
  border-color: #7a1f1e;
  cursor: pointer;
}

.node-network {
  margin: 3em auto;
  outline: 1px solid #eee;
}

.trackers-container {
  margin-top: 0;
}
.trackers-container span {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.trackers-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.trackers-list li {
  padding: 0;
  margin-top: 2px;
}
.video-container video {
  width: 100%;
}

.dev-container {
  margin-top: 0;
  display: flex;
  gap: 1em;
}
