{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": ["./tsconfig.json", "./tsconfig.test.json"]
    },
    "plugins": [
        "@typescript-eslint"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking"
    ],
    "env": {
        "browser": true
    },
    "rules": {
        "quotes": ["error", "double"],
        "no-console": ["error", { "allow": ["warn", "error"] }],
        "eqeqeq": "error",
        "brace-style": ["error", "1tbs"],
        "eol-last": "error",
        "func-call-spacing": "error",
        "no-trailing-spaces": "error",
        "no-multi-spaces": "error",
        "@typescript-eslint/no-misused-promises": ["error", { "checksVoidReturn": false }],
        "@typescript-eslint/require-await": "off"
    }
}
